extends ./layout/layout

block css
  link(rel="stylesheet", href="/css/blogger.css")
  #wrap
    h1 博主简介
    p 本文为博主原创文章，未经博主允许不得转载。
    p 我记住你，或许因为你的名字，我欣赏你，或许因为你的气质，我认可你，一定是因为你的优势！
    p 
        | 大家好，欢迎来到我的博客，也欢迎你阅读这篇文章，首先我先自我介绍，博主是一名来自大四的学生，
        | 别看博主年轻，但博主也已经走过几十年岁月了，也走过很多路，博主是个热爱编程的人，平时也喜欢听听音乐，
        | 玩玩游戏，但容易玩脱。
    p 
        | 博主是一个容易回忆往事的人，也是一个喜欢分享美好事物的人。所以，每当遇到美好事物，
        | 博主都将其记录下来。
    p 博主欢迎你们也把你们的美好记录下来，写在我的博客里，大家一起分享！
    p 后续会持续更新博客！！！
