.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="/") 
      li
        a(href="/") 
      li
        a(href="/") 
      li
        a(href="/") 
      li
        a(href="/") 
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章